.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.shopping_cart_page{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.checkout_btn {
    width: 100%;
    text-align: center;
    margin: 1rem 1rem;
    text-decoration: none;
}
